input {
    vertical-align: middle;
    font-weight: bold;
    outline: none;
    padding: 8px 8px;
    border: 1px solid #9E9E9E;
    border-radius: 4px;
}

input:hover {
    border: 1px solid #616161;
}

.tm-input {
    background: transparent;
    border: 2px solid white;
}

::placeholder {
    color: white;
}

.btn {
    color: #000000;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    padding: 8px 32px;
    border-radius: 4px;
    transition: 0.5s;  
    border: 1px solid #9E9E9E;
}
.bt {
    color: #ffffff;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    padding: 8px 32px;
    border-radius: 4px;
    transition: 0.5s;  
    border: 1px solid #000000;
}
.btns {
    color: #ffffff;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    padding: 8px 32px;
    border-radius: 4px;
    transition: 0.5s;  
    border: 1px solid #ffffff;
    background-color: #F1C01B;
    border: 1px solid #F1C01B;
}

.btn:hover {
    text-decoration: none !important;
}

.btn-blue {
    color: #ffffff;
    background-color: #2196F3;
    border: 1px solid #2196F3;
}

.btn-blue:hover {
    background-color: #8071C5;
    border-color: #8071C5;
}

.btn-green {
    color: #ffffff;
    background-color: #4CAF50;
    border: 1px solid #4CAF50;
}

.btn-green:hover {
    background-color: #009995;
    border-color: #009995;
}
.btn-red {
    color: #ffff;
    background-color: #f12436;
    border: 1px solid #f32133;
}

.btn-white:hover {
    background-color: rgb(255, 255, 255);
    border-color: #ffffff;
}
.btn-black:hover {
    background-color: rgb(0, 0, 0);
    border-color: #ffffff;
}
.btn-whites:hover {
    background-color: #F1C01B
}
.btn-white {
    color: #ffffff;
    background-color: #000000;
    border-color: #000000;
}
.btn-black {
    color: #ffffff;
    background-color: #F1C01B;
    border-color: #F1C01B;
    border: 1px solid #ffffff;
}
.btn-whites {
    color: #F1C01B;
    background-color: #000000;
    border-color: #000000;
}
.btn-yellow {
    color: #ffffff;
    background-color: #F1C01B;
    border-color: #F1C01B;
}
.btn-yellow:hover {
    background-color: rgb(0, 0, 0);
    border-color: #000000;
}